* {
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: -40px;
}

.login-form button {
    margin-bottom: 0;
    align-self: flex-start;
    border: 1px solid #b3b3b3;
    background: #4e4a4a;
    color: white;
}

.form-box>a {
    align-self: flex-end;
    margin-top: -105px;
    margin-right: 170px;
    font-size: 90%;
    color: white;
    text-decoration: none;
}

.form-box>a:hover {
    color: #9c9c9c;
}