.sidebar {
    width: 170px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li a {
    display: block;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
}

.sidebar ul a:hover {
    background: #666161;
    border-radius: 2px;
}